.myBG{
  height: 100vh;
  background: url('../Asset/gambar/bg/1.jpg');
  background-size: cover;
}

.intro{
  height: 300px;
  display:flex;
  justify-content:end;
  align-items:end;
}

.title{
  padding:0 10px 0 10px;
  font-size:3rem;
  font-weight:500;
  line-height:1;
}

.title2{
  font-size: 1rem;
  font-weight:100;
}

.Content{
  height: fixed;
  background: transparant;
  background-size: cover;
}

.isicontent{
  height: auto;
}